/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
*/lib/log/*.log
/tmp/*
/lib/simpler_log/*.log
# Ignore uploaded files in development
.byebug_history
.DS_Store
.env
.idea

