<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SHOW</title>
    </head>

    <body>
        <h1>This is a User show views</h1>
        <p>params id(<%= @test %>)</p>
    </body>

</html>