<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index | Simpler application</title>
  </head>
  <body>
    <h1> This is the test object (show tests method) with id <%= @id %> </h1>
  </body>
</html>
