<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index | Simpler application</title>
  </head>
  <body>
    <div class="container" style="margin: 10px auto; text-align: center;">
      <h1 style="text-align: center;">Simpler framework at work!</h1>
      <div style="margin: 2rem; text-align: <%= @tests.nil? ? 'center' : 'left' %>">
        Time now: <%= @time %>
      </div>
      <% if  @tests.nil? %>
        <div>Tests not found!</div>
      <% else %>
        <div style="margin: 2rem; text-align: left;">
          <div><strong>Tests count:</strong> <%= @tests.count %></div>
        </div>
      <% end %>
    </div>
  </body>
</html>
