<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index | Simpler application</title>
  </head>
<body>
<h1>Simpler framework in action!</h1>

<p><%= @time %></p>

  <ul>
    <% @tests.each do |test| %>
      <li><%= " #{test.id}. #{test.title}" %> (<%= test.level %>)</li>
    <% end %>
  </ul>

</body>

</html>
