<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index | Simpler application</title>
  </head>
  <body>
    <h1>Simpler framework at work!</h1>

    <p><%= @time %></p>
  </body>
</html>
