<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Index | Simpler application</title>
</head>
<body>
  <h2 style="text-align: center;">Index action </h2>
  <ul>
    <% @tests.each do |t| %>
    <li><%= t.title %></li>
    <li><%= t.level %></li>&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
  </ul>
  <p><%= @time %></p>
</body>
</html>
