<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List | Simpler application</title>
  </head>
  <body>
    <h1>Simpler framework at work!</h1>

    <p><%= @time %></p>
    <p>Header(s) changed! <% headers 'X-New-Header' => 'Show Test' %></p>
    <p>Status changed: <%= status 203 %></p>
  </body>
</html>
