<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List | Simpler application</title>
  </head>
  <body>
    <h1>Simpler framework at work!</h1>

    <p><%= @time %></p>
    <ul>
    <% @tests.each do |test| %>
      <li><%= test.title %> (<%= test.level %>)</li>
    <% end %>
    </ul>
  </body>
</html>