<hh>Add new test</h2>

<form action="/tests" method="POST">
  <p>
    <label for="test_title">Title</label><br>
    <input id="test_title" type="text" name="test[title]" >
  </p>

  <p>
    <label for="test_level">Level</label><br>
    <input id="test_level" type="number" name="test[level]" >
  </p>

  <button type="submit">Create</button>
</form>

<a href="/tests">back</a>