<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show | Simpler application</title>
    <link rel="icon" href="data:,"> <!-- to avoid the favico.ico request -->
  </head>
  <body>
    <h1>Simpler show at work!</h1>

    <p><%= @parameter %></p>
  </body>
</html>
