<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List | Simpler application</title>
  </head>
  <body>
    <% if params[:id] %>
      <h1>Param ID = <%= params[:id] %></h1>
    <% else %>
      <h1>No params</h1>
    <% end %>
  </body>
</html>
