<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index | Simpler application</title>
  </head>
  <body>
    <h1>Show method!</h1>
     <p><%= @test.title %></p>
  </body>
</html>
