<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show | Simpler application</title>
  </head>
  <body>
    <h1>Simpler framework at work!</h1>

    <p><%#= @test[:title] %></p>
    <p>Test:<%= @test %></p>
    
  </body>
</html>
