<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simpler</title>
  </head>
  <body>
    <h1>Simpler framework at work!</h1>

    <% if @test %>
      <p><%= @test.title %> (<%= @test.level %>)</p>
    <% else %>
      <p> Not found </p>
    <% end %>
  </body>
</html> 