<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>simpler application - show </title>
</head>
<body>
<h3>  Example Show Page !</h3>

<p><%= @time %></p>
<div>
  <% @params.keys.each do |key| %>

  <%= "params[:#{key}] = #{@params[key]}"  %> <br>
  <% end %>
</div>
</body>
</html>
